apiVersion: v1
kind: Service
metadata:
  name: nginx-demo
  namespace: default
  labels:
    app: nginx-demo
spec:
  type: NodePort
  selector:
    app: nginx-demo
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30081
